RPi.txt
[
    {
        "id": "c378db8f.765438",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b372da53.516488",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2ce141f.46a8c8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9790fa0.bab7208",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "3ble1l",
        "serverName": "",
        "devType": "raspberrypiGateWay",
        "devId": "0800275e47d4",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "594e257a.13397c",
        "type": "inject",
        "z": "c378db8f.765438",
        "name": "",
        "topic": "",
        "payload": "String",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "397fc782.5d5888"
            ]
        ]
    },
    {
        "id": "397fc782.5d5888",
        "type": "random",
        "z": "c378db8f.765438",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "5d12a915.a94198"
            ]
        ]
    },
    {
        "id": "5d12a915.a94198",
        "type": "function",
        "z": "c378db8f.765438",
        "name": "",
        "func": "msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "fc3b24e4.d6bb08",
                "1aa112d4.e1de5d"
            ]
        ]
    },
    {
        "id": "fc3b24e4.d6bb08",
        "type": "debug",
        "z": "c378db8f.765438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "1aa112d4.e1de5d",
        "type": "wiotp out",
        "z": "c378db8f.765438",
        "authType": "g",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "9790fa0.bab7208",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ed53156.7f389",
        "type": "debug",
        "z": "b372da53.516488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "3dcc3d5b.910c92",
        "type": "wiotp in",
        "z": "b372da53.516488",
        "authType": "d",
        "deviceKey": "9790fa0.bab7208",
        "deviceType": "",
        "deviceId": "",
        "command": "+",
        "commandType": "g",
        "qos": 0,
        "name": "",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "4ed53156.7f389"
            ]
        ]
    },
    {
        "id": "f3681e5f.cbce9",
        "type": "rpi-sensehatsim in",
        "z": "f2ce141f.46a8c8",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "2f8d7aa5.31d926"
            ]
        ]
    },
    {
        "id": "2f8d7aa5.31d926",
        "type": "delay",
        "z": "f2ce141f.46a8c8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "4bcc1897.eb88b8"
            ]
        ]
    },
    {
        "id": "4bcc1897.eb88b8",
        "type": "function",
        "z": "f2ce141f.46a8c8",
        "name": "Env. Data",
        "func": "msg.payload = {\"Data\" : {\"Environment\":msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb0800275e47d4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "2b1be1db.4993ce",
                "3746e6ab.bc853a"
            ]
        ]
    },
    {
        "id": "3746e6ab.bc853a",
        "type": "wiotp out",
        "z": "f2ce141f.46a8c8",
        "authType": "g",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "9790fa0.bab7208",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b1be1db.4993ce",
        "type": "debug",
        "z": "f2ce141f.46a8c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 320,
        "y": 240,
        "wires": []
    }
]